# Database Configuration
# Heroku Postgres will automatically provide DATABASE_URL
DATABASE_URL=postgresql://myuser:mypassword@localhost:5433/swiftq
DIRECT_URL=postgresql://myuser:mypassword@localhost:5433/swiftq

# Application Port
# Heroku will automatically set PORT, no need to set manually in production
PORT=4000

# Authentication
JWT_SECRET=my-jwt-secret
JWT_EXPIRES_IN=24h

# CORS Configuration
CORS_ORIGINS='["http://localhost:3006"]'


# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}
